{% extends 'base.html' %}

{% load static %}

{% block content %}
   <main>
        <div class="row">
            {% for categoria in categorias %}
            <div class="col-md-7 mb-3">
                <div class="card w-100">
                    {% for img in categoria.imagens_categorias.all %}
                       <div class="text-center">
                         <img class="card-img-top" src="{{ MEDIA_URL }}categoria/{{ img.img_base64 }}">
                       </div>
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title text-success text-center">{{ categoria.titulo }}</h5>
                        <p class=" text-center card-text"><small>{{ categoria.descricao | truncatechars:100 }}</small></p>

                    <div class="text-center">
                        <a href="{% url 'livros' categoria.id %}" class="btn btn-primary btn-sm">Ver Livros</a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </main>

{% endblock %}